  <% include header %>

  <div class="row small-8 large-centered columns"> 
	<div class="panel" align="center"> 
	  <h2> Error: </h2>
	  
		<h5><%= error %></h5>
	  
	</div> 
  </div> 

<% include footer %>
