<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/custom.css">
	<!--<link rel="stylesheet" href="/stylesheets/foundation.css">
	<script src="/javascripts/modernizr.js"></script>
	<script src="/javascripts/foundation.js"></script> -->
	<script src="/javascripts/jquery-1.11.3.min.js"></script>
	<script src="/javascripts/bootstrap.min.js"></script>
</head>

<body>
	<div class="site-wrapper">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 text-center">
					<a class="header-brand" href="/"><h2>Trusted Attribute Display Service</h2></a>
				</div>
				<div class="col-sm-6 text-center">
					<img class="header-img" href="https://www.eid-stork2.eu/" src="/images/logo.jpg" alt="STORK Logo"/>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<ol id="breadcrumb" class="breadcrumb">
						<li><a href="/">Home</a></li>
					</ol>
				</div>
			</div>
		
