  <% include header %>

  <div class="row"> 

  	<div class="col-sm-12 text-center">

  		<div class="panel" align="center"> 
  			<h3> You logged out successfully </h3>
  			<a href="/">Return to HomePage</a>
  		</div> 

  	</div>
  </div> 

  <% include footer %>
