<% include header %>

<div class='row'>
	<div class="col-sm-12">
		<div class="jumbotron text-left" style="margin-bottom: 20px;">
			<h3>Document QRCode Scanner</h3>
			<p>Please grant us access to the webcam so we can scan the document QRCode.</p>
		</div>
	</div>
</div>


	<div class="panel panel-default">	
				
		<div class="panel-heading text-center"><h5>Please position the document QR Code in front of your webcam</h5></div>
		<div class="panel-body text-center">

	<div class="row" align="center">
		<h3 id="qr-value"> </h3>    
	</div>
	
	<video  id="camsource" autoplay width="320" height="240">Put your fallback message here.</video>
	<canvas id="qr-canvas" width="320" height="240" style="display:none"></canvas>

	</div>
	</div>

	<div class="panel panel-default">	
				
		<div class="panel-heading text-center"><h5>Manual Document retrieval</h5></div>
		<div class="panel-body">
	
	<div class="row">
		<form action="/verifydocument/getpdf" method="POST">
			<div class="col-sm-6">
				<p style="margin-bottom: 0; margin-top:6px;">
					If you are unwilling or unable to use your webcam, please insert the 
					code here:
				</p>
			</div>
			<div class="col-sm-5">

			<div class="input-group">
				<span class="input-group-addon" id="basic-addon1">QRCode</span>
				<input name="uuid" type="text" class="form-control" placeholder="TADS-PT-f4934370-fef2-11e4-a72e-b3143cfec6d6" aria-describedby="basic-addon1">
			</div>

			</div>
			<div class="col-sm-1">
				<input type="submit" class="btn btn-default attr-btn" style="margin-bottom: 0; height: auto;" value="Submit"/>
			</div>
		</form>
	</div>

	</div>
	</div>


	</div>
</div>


<script type="text/javascript" src="/jsqrcode-master/src/grid.js"></script>
<script type="text/javascript" src="/jsqrcode-master/src/version.js"></script>
<script type="text/javascript" src="/jsqrcode-master/src/detector.js"></script>
<script type="text/javascript" src="/jsqrcode-master/src/formatinf.js"></script>
<script type="text/javascript" src="/jsqrcode-master/src/errorlevel.js"></script>
<script type="text/javascript" src="/jsqrcode-master/src/bitmat.js"></script>
<script type="text/javascript" src="/jsqrcode-master/src/datablock.js"></script>
<script type="text/javascript" src="/jsqrcode-master/src/bmparser.js"></script>
<script type="text/javascript" src="/jsqrcode-master/src/datamask.js"></script>
<script type="text/javascript" src="/jsqrcode-master/src/rsdecoder.js"></script>
<script type="text/javascript" src="/jsqrcode-master/src/gf256poly.js"></script>
<script type="text/javascript" src="/jsqrcode-master/src/gf256.js"></script>
<script type="text/javascript" src="/jsqrcode-master/src/decoder.js"></script>
<script type="text/javascript" src="/jsqrcode-master/src/qrcode.js"></script>
<script type="text/javascript" src="/jsqrcode-master/src/findpat.js"></script>
<script type="text/javascript" src="/jsqrcode-master/src/alignpat.js"></script>
<script type="text/javascript" src="/jsqrcode-master/src/databr.js"></script>
<script type="text/javascript" src="/javascripts/qr.js"></script>
<script type="text/javascript" src="/javascripts/camera.js"></script>
<script type="text/javascript" src="/javascripts/init.js"></script>

<script>
	$("#breadcrumb").append('<li><a href="/verifydocument/getpdf">Verify Document</a></li>');
</script>

<script>

	setInterval(function(){
		var qr = $("#qr-value").text();
		var res = qr.search("TADS-<%= country %>-");
		var url = '/verifydocument/getpdf';

		if(res >= 0){
			var form = document.createElement("form");
			form.setAttribute('method', 'POST');
			form.setAttribute('action', url);
			console.log(qr);
			var hiddenField = document.createElement("input");
			hiddenField.setAttribute('type', 'hidden');

			hiddenField.setAttribute('name', 'uuid');
			hiddenField.setAttribute('value', qr);
			form.appendChild(hiddenField);
			document.body.appendChild(form);
			form.submit();
		}
	}, 1500);

</script>

<% include footer %>
