<% include header %>

<div class='row' align="center">

	<h1>Document QRCode Scanner</h1>
	<hr>
	<p>Please position the document QR Code in front of your webcam</p>
	<video  id="camsource" autoplay width="320" height="240">Put your fallback message here.</video>
	<canvas id="qr-canvas" width="320" height="240" style="display:none"></canvas>

	<div class="row" align="center">
		<h3 id="qr-value"> </h3>    
	</div>

	<div class="row">
		<form action="/verifydocument/getpdf" method="POST">
			<div class="small-7 columns">
				<div align="justify">
					<label> &nbsp; </label>
					If you are unwilling or unable to use your webcam, please insert the 
					code below the QR-Code in the text box.
				</div>
			</div>
			<div class="small-4 columns">
				<label>Code</label>
				<input name="uuid" type="text"/>
			</div>
			<div class="small-1 columns">
				<label> &nbsp; </label>
				<input type="submit" class="button tiny" value="Submit"/>
			</div>
		</form>
	</div>
</div>

<script type="text/javascript" src="/javascripts/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="/jsqrcode-master/src/grid.js"></script>
<script type="text/javascript" src="/jsqrcode-master/src/version.js"></script>
<script type="text/javascript" src="/jsqrcode-master/src/detector.js"></script>
<script type="text/javascript" src="/jsqrcode-master/src/formatinf.js"></script>
<script type="text/javascript" src="/jsqrcode-master/src/errorlevel.js"></script>
<script type="text/javascript" src="/jsqrcode-master/src/bitmat.js"></script>
<script type="text/javascript" src="/jsqrcode-master/src/datablock.js"></script>
<script type="text/javascript" src="/jsqrcode-master/src/bmparser.js"></script>
<script type="text/javascript" src="/jsqrcode-master/src/datamask.js"></script>
<script type="text/javascript" src="/jsqrcode-master/src/rsdecoder.js"></script>
<script type="text/javascript" src="/jsqrcode-master/src/gf256poly.js"></script>
<script type="text/javascript" src="/jsqrcode-master/src/gf256.js"></script>
<script type="text/javascript" src="/jsqrcode-master/src/decoder.js"></script>
<script type="text/javascript" src="/jsqrcode-master/src/qrcode.js"></script>
<script type="text/javascript" src="/jsqrcode-master/src/findpat.js"></script>
<script type="text/javascript" src="/jsqrcode-master/src/alignpat.js"></script>
<script type="text/javascript" src="/jsqrcode-master/src/databr.js"></script>
<script type="text/javascript" src="/javascripts/qr.js"></script>
<script type="text/javascript" src="/javascripts/camera.js"></script>
<script type="text/javascript" src="/javascripts/init.js"></script>

<script>
	$("#header ul").append('<li><a href="/verifydocument/getpdf">Verify Document</a></li>');
</script>

<script>

	setInterval(function(){
		var qr = $("#qr-value").text();
		var res = qr.search("TADS-<%= country %>-");
		var url = '/verifydocument/getpdf';

		if(res >= 0){
			var form = document.createElement("form");
			form.setAttribute('method', 'POST');
			form.setAttribute('action', url);
			console.log(qr);
			var hiddenField = document.createElement("input");
			hiddenField.setAttribute('type', 'hidden');

			hiddenField.setAttribute('name', 'uuid');
			hiddenField.setAttribute('value', qr);
			form.appendChild(hiddenField);
			document.body.appendChild(form);
			form.submit();
		}
	}, 1500);

</script>

<% include footer %>
